<?xml version="1.0" encoding="UTF-8"?>
<Configuration
        strict="true"
        name="XMLConfig">
    <Properties>
        <Property name="PROJECT_NAME">test3-mvn-project</Property>
        <Property name="LOG_DIR">./logs</Property>

        <Property name="PATTERN_STDOUT">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{black} %highlight{%level} %style{[%t]}{blue} %style{[%logger{2}:%line]}{blue}: %m%n%throwable
        </Property>

        <Property name="ROLLING_FILE_PATTERN">${LOG_DIR}/${PROJECT_NAME}.log</Property>
        <Property name="ROLLING_ARCHIVED_FILE_NAME">${LOG_DIR}/archived/$${date:yyyy-MM-dd}/${PROJECT_NAME}-%d{yyyy-MM-dd--HH-mm}.log.%i.gz</Property>
    </Properties>

    <Appenders>
        <Appender name="STDOUT"
                  type="Console">
            <Layout type="PatternLayout">
                <Pattern disableAnsi="false">
                    ${PATTERN_STDOUT}
                </Pattern>
            </Layout>
        </Appender>
        <Appender
                name="RollingFile"
                type="RollingFile"
                fileName="${ROLLING_FILE_PATTERN}"
                filePattern="${ROLLING_ARCHIVED_FILE_NAME}">
            <Layout
                    type="PatternLayout"
                    pattern="%date %level [%thread] [%file:%line]: %m%n%throwable"/>
            <Policies>
                <!--                <OnStartupTriggeringPolicy/>-->
                <!--                каждую минуту-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>-->
                <SizeBasedTriggeringPolicy size="2 KB"/>
            </Policies>
        </Appender>
    </Appenders>

    <Loggers>
        <!--        additivity = «true» в logger означает,
        что журналы, полученные дочерним журналом,
        также будут отображаться в родительском журнале
        И если вывод общий, то будет задвоение записей-->
        <Logger name="dev.example.dto.User"
                level="debug"
                additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>